@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  font-weight: normal;
  min-height: 100vh;
  background-color: rgb(221,221,221);
  color: #000;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
