<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router';
import { useAuthentication } from '@/composables/useAuthentication';


const { logout, isAuthenticated, userData } = useAuthentication();

</script>

<template>
  <header>
    <img alt="Vue logo" class="logo" src="@/assets/logo.png" width="125" height="125" />

    <div class="wrapper">
      <nav>
        <RouterLink to="/">Ogłoszenia</RouterLink>
        <RouterLink to="/about" v-if="!isAuthenticated">About</RouterLink>
        <RouterLink to="/login" v-if="!isAuthenticated">Logowanie</RouterLink>
        <RouterLink to="/register" v-if="!isAuthenticated">Rejestracja</RouterLink>
        <RouterLink to="/profile" v-if="isAuthenticated">Profil</RouterLink>
      </nav>
    </div>
    <div class="user_actions">
      <span class="user_actions__info">{{ userData?.name }}  {{ userData?.surname }}</span>
      <el-button type="warning" class="logout-button" v-if="isAuthenticated" @click="logout">wyloguj</el-button>
    </div>
  </header>

  <RouterView />
</template>

<style scoped>

header {
  line-height: 1.5;
  max-height: 100vh;
  background-color: #fff;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  font-weight: bold;
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

.user_actions {
  margin-left: auto;
}

.user_actions .user_actions__info{
  margin-right: 20px;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
