<script setup lang="ts">
import { useSteps } from '../../composables/useSteps'
import StepButton from '../common/StepButton.vue'
const { handleStepChange } = useSteps()
import { ref } from 'vue'
</script>
<template>
  <div class="ConfigurationStepSeven">
    <h1>Podsumowanie</h1>

    <div style="display: flex; gap: 1rem">
      <img src="../../assets/woman.png" style="width: 10rem"/>
      <div>
        <p>Jan Kowalski</p>
        <p>+48 123456789</p>
        <p>Warszawa</p>
      </div>
    </div>

    <div>
      <h2>Doświadczenie zawodowe</h2>
      <p>WieśBud - tynkarz</p>
      <span>lipiec 2017 - sierpień 2023</span>
    </div>

    <StepButton :step="7" direction="back" />
  </div>
</template>

<style scoped>
.ConfigurationStepSeven {
  padding: 4rem;
}
</style>
