<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useSteps } from '../../composables/useSteps'
import StepButton from '../common/StepButton.vue'
import { useEducation } from '@/composables/useEducation'
import TheModal from '../common/TheModal.vue'
import EducationComponent from './EducationComponent.vue'
const {
  getEducationLevels,
  isEducationLevelLoading,
  educationLevels,
  add,
  isEducationLoading,
  getUserEducation,
  usersEducation
} = useEducation()
const { handleStepChange } = useSteps()

onMounted(async () => {
  await getEducationLevels()
  await getUserEducation()
})

const educationLevelFirst = ref('')
const educationLevelSecond = ref('')
const level = ref('')
const isDialogVisible = ref(false)
const fillEducation = async () => {
  if (educationLevelFirst.value || educationLevelSecond.value) {
    await add({
      school: educationLevelFirst.value,
      university: educationLevelSecond.value,
      level: level.value
    })
  }
}
const addEducation = async (education) => {
  add(education)
  await getUserEducation()
  isDialogVisible.value = false
}
</script>
<template>
  <div class="ConfigurationStepFour">
    <p>Edukacja</p>
    <el-button class="ConfigurationStepFour__button" @click="isDialogVisible = !isDialogVisible"
      >+ Dodaj szkołę</el-button
    >
    <TheModal
      :is-dialog-visible="isDialogVisible"
      title="Dodaj edukację"
      save-button-text="Zapisz"
      cancel-button-text="Anuluj"
      @close-modal="isDialogVisible = false"
      @save="dialogComponentRef?.submit"
      width="90%"
      max-width="50rem"
    >
      <EducationComponent @addEducation="addEducation" />
    </TheModal>
    <div
      v-for="(education, index) in usersEducation"
      :key="index"
      class="ConfigurationStepFour__education"
    >
      <p v-if="education.degree">{{ education.degree }}</p>
      <p>Szkoła: {{ education.school }}</p>
      <p>{{ education.date_start.substring(0, 11) }} - {{ education.date_end.substring(0, 11) }}</p>
      <p v-if="education.field">Kierunek: {{ education.field }}</p>
    </div>

    <StepButton :step="4" direction="back" />
    <StepButton :step="4" direction="next" @click="fillEducation" />
  </div>
</template>

<style scoped>
.ConfigurationStepFour {
  padding: 4rem;
  display: flex;
  flex-direction: column;
}
.ConfigurationStepFour__button {
  width: 200px;
  background: beige;
  border: 1px solid black;
}
.ConfigurationStepFour__education {
  width: 40rem;
  border: 1px solid grey;
  padding: 1rem;
}
</style>
