<script setup lang="ts">
import { useSteps } from '../../composables/useSteps'
import PositionComponent from './PositionComponent.vue'
import StepButton from '../common/StepButton.vue'
import TheModal from '../common/TheModal.vue'
import { onMounted, ref } from 'vue'
import { usePortfolio } from '@/composables/usePortfolio'
import { useExperience } from '@/composables/useExperience'
import { useAdvertisements } from '@/composables/useAdvertisement'
const { getCities, cities } = useAdvertisements()
const { isProfessionsLoading, professions, getProfessions, userPortfolio } = usePortfolio()
const { addExperience, getUserExperience, usersExperiences } = useExperience()

const { handleStepChange } = useSteps()
const isDialogVisible = ref(false)
const addPosition = async (position) => {
  addExperience(position)
  await getUserExperience()
  isDialogVisible.value = false
}
onMounted(async () => {
  await getUserExperience()
})
const findCity = (position) => {
  const city = cities.value.find((city) => city.id === position.fk_city_id)
  return city ? city.city : ''
}
</script>

<template>
  <div class="ConfigurationStepThree">
    <div>
      <h2>Twoje doświadczenie zawodowe</h2>
      <el-button class="ConfigurationStepThree__button" @click="isDialogVisible = !isDialogVisible"
        >+ Dodaj doświadczenie</el-button
      >
      <TheModal
        :is-dialog-visible="isDialogVisible"
        title="Dodaj doświadczenie"
        save-button-text="Zapisz"
        cancel-button-text="Anuluj"
        @close-modal="isDialogVisible = false"
        @save="dialogComponentRef?.submit"
        width="90%"
        max-width="50rem"
      >
        <PositionComponent @addPosition="addPosition" />
      </TheModal>
      <div
        v-for="(position, index) in usersExperiences"
        :key="index"
        class="ConfigurationStepThree__position"
      >
        <p>Stanowisko: {{ position.position }}</p>
        <p>{{ position.start_date.substring(0, 11) }} - {{ position.end_date.substring(0, 11) }}</p>
        <p>Firma: {{ position.company }}</p>
        <p>Lokalizacja: {{ findCity(position) }}</p>
      </div>
    </div>
    <StepButton :step="3" direction="back" />
    <StepButton :step="3" direction="next" />
  </div>
</template>

<style scoped>
.ConfigurationStepThree {
  padding: 4rem;
}
.ConfigurationStepThree__button {
  width: 200px;
  background: beige;
  border: 1px solid black;
}
.ConfigurationStepThree__position {
  width: 40rem;
  border: 1px solid grey;
  padding: 1rem;
}
</style>
