<script setup lang="ts">
import { useSteps } from '../../composables/useSteps'
import StepButton from '../common/StepButton.vue'
const { handleStepChange } = useSteps()
import { ref } from 'vue'
</script>
<template>
  <div class="ConfigurationStepZero">
    <h1>Uzupełnij swoje portfolio</h1>
    <p>
      Portoflio jest Twoją wizytówką, dzięki niemu nie musisz do ofert dołączać cv. Możesz je
      wypełnić teraz lub pominąć ten krok i wrócić do wypełniania w momencie aplikowania. W każdej
      chwili możesz je edytować.
    </p>
    <p>
      Pamiętaj, że nie musisz wypełniać wszystkich kroków, portoflio jest tylko naszą propozycją
      żebyś mógł dać się lepiej poznać pracodawcom.
    </p>
    <StepButton :step="0" direction="next" />
    <el-button @click="handleStepChange()">Pomiń</el-button>
  </div>
</template>

<style scoped>
.ConfigurationStepZero {
  padding: 4rem;
}
</style>
