<script setup lang="ts">
import { useSteps } from '../../composables/useSteps'
import LanguageComponent from './LanguageComponent.vue'
import StepButton from '../common/StepButton.vue'
import { ref } from 'vue'
import { useAdvertisements } from '@/composables/useAdvertisement'
const { getCities, isLoading, cities } = useAdvertisements()
const phoneNumber = ref('')
const chosenCity = ref('')
</script>

<template>
  <div class="ConfigurationStepSix">
    <div>
      <h1>To ostatni krok, możesz dodać swoje dane osobowe</h1>
      <p>Dodaj zdjęcie</p>
      <div style="width: 4rem; height: 4rem; border: 1px solid black; border-radius: 8px" />
      <div>
        <h2>Dodaj swoje dane kontaktowe i lokalizację.</h2>
        <el-form-item label="Miasto">
          <el-select
            v-model="chosenCity"
            filterable
            remote
            reserve-keyword
            placeholder="Wprowadź miasto"
            :remote-method="getCities"
            :loading="isLoading"
            style="width: 240px"
          >
            <el-option
              v-for="city in cities"
              :key="city.id"
              :label="city.name"
              :value="city.name"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="Podaj telefon komórkowy">
          <el-input v-model="phoneNumber" placeholder="+48 xxx xxx xxx" />
        </el-form-item>
      </div>
    </div>
    <StepButton :step="6" direction="back" />
    <StepButton :step="6" direction="next" />
  </div>
</template>

<style scoped>
.ConfigurationStepThree {
  padding: 4rem;
}
</style>
