<script setup lang="ts">
import { useSteps } from '../../composables/useSteps'
import StepButton from '../common/StepButton.vue'
const { handleStepChange } = useSteps()
import { onMounted, ref } from 'vue'
import { usePortfolio } from '@/composables/usePortfolio'

const { isProfessionsLoading, professions, getProfessions, userPortfolio } = usePortfolio()

const isDifferentProfession = ref(false)
const differentProfession = ref('')
onMounted(async () => {
  await getProfessions()
})


</script>
<template>
  <div class="ConfigurationStepTwo">
    Wybierz profesję
    <el-select
      v-loading="isProfessionsLoading"
      placeholder="Wybierz"
      @change="choseProfession"
      v-model="userPortfolio.profession_id"
      ><el-option
        v-for="(prof, index) in professions"
        :key="index"
        :value="prof.id"
        :label="prof.name"
    /></el-select>
    <StepButton :step="2" direction="back" />
    <StepButton :step="2" direction="next" />
  </div>
</template>

<style scoped>
.ConfigurationStepTwo {
  padding: 4rem;
}
</style>
