<script setup lang="ts">
import { useSteps } from '../../composables/useSteps'
const { handleStepChange } = useSteps()
</script>
<template>
  <div class="ConfigurationStepOne">
    <div style="display: flex; gap: 2rem">
      <div @click="handleStepChange(2)" style="border: 1px solid black; padding: 5rem; cursor: pointer">
        Mam już doświadczenie zawodowe
      </div>
      <div @click="handleStepChange(4)" style="border: 1px solid black; padding: 5rem; cursor: pointer">
        Nie mam doświadczenia, to moja pierwsza praca
      </div>
    </div>
  </div>
</template>
<style scoped>
.ConfigurationStepOne {
  padding: 4rem;
}
</style>
