<script setup lang="ts">
import { useSteps } from '../../composables/useSteps'
import LanguageComponent from './LanguageComponent.vue'
import StepButton from '../common/StepButton.vue'
import TheModal from '../common/TheModal.vue'
import { onMounted, ref } from 'vue'
import { useLanguage } from '@/composables/useLanguage'
const { addLanguage, getUserLanguage, usersLanguages } = useLanguage()

const { handleStepChange } = useSteps()
const isDialogVisible = ref(false)
const addUserLanguage = async (language) => {
  addLanguage(language)
  await getUserLanguage()
  isDialogVisible.value = false
}
onMounted(async () => {
  await getUserLanguage()
})

</script>

<template>
  <div class="ConfigurationStepFive">
    <div>
      <h2>Twoje języki</h2>
      <el-button class="ConfigurationStepFive__button" @click="isDialogVisible = !isDialogVisible"
        >+ Dodaj język</el-button
      >
      <TheModal
        :is-dialog-visible="isDialogVisible"
        title="Dodaj język"
        save-button-text="Zapisz"
        cancel-button-text="Anuluj"
        @close-modal="isDialogVisible = false"
        @save="dialogComponentRef?.submit"
        width="90%"
        max-width="50rem"
      >
        <LanguageComponent @addUserLanguage="addUserLanguage" />
      </TheModal>
      <div
        v-for="(lang, index) in usersLanguages"
        :key="index"
        class="ConfigurationStepFive__position"
      >
        <p>Język: {{ lang.name }}</p>
        <p>Poziom: {{lang.level}}</p>

      </div>
    </div>
    <StepButton :step="3" direction="back" />
    <StepButton :step="3" direction="next" />
  </div>
</template>

<style scoped>
.ConfigurationStepFive {
  padding: 4rem;
}
.ConfigurationStepFive__button {
  width: 200px;
  background: beige;
  border: 1px solid black;
}
.ConfigurationStepFive__position {
  width: 40rem;
  border: 1px solid grey;
  padding: 1rem;
}
</style>
