<template>
  <el-form
    v-loading="isUserEducationLoading"
    class="EducationComponent"
    ref="ruleFormRef"
    :model="form"
    :rules="rules"
  >
    <el-form-item prop="school">
      <el-input
        style="width: 15rem"
        type="text"
        label="szkola"
        v-model="form.school"
        placeholder="Technikum Architektoniczno-Budowlane im. Stanisława Noakowskiego"
    /></el-form-item>

    <el-form-item label="Kierunek" prop="field">
      <el-input style="width: 15rem" type="text" v-model="form.field"
    /></el-form-item>
    <el-form-item prop="degree">
      <el-select
        v-model="form.degree"
        filterable
        remote
        reserve-keyword
        placeholder="Poziom"
        style="width: 240px"
      >
        <el-option
          v-for="(degree, index) in educationLevels"
          :key="index"
          :label="degree.name"
          :value="degree.name"
        />
      </el-select>
    </el-form-item>
    <div class="EducationComponent__dates">
      <el-form-item prop="startDate">
        <el-date-picker
          v-model="form.startDate"
          type="month"
          placeholder="Data rozpoczęcia"
          :clearable="false"
          format="YYYY/MM/DD"
        ></el-date-picker
      ></el-form-item>
      <el-form-item prop="endDate">
        <el-date-picker
          v-model="form.endDate"
          type="month"
          placeholder="Data zakończenia"
          :clearable="false"
          format="YYYY/MM/DD"
        ></el-date-picker
      ></el-form-item>
    </div>
    <el-button @click="addEducation">Zatwierdź</el-button>
  </el-form>
</template>

<script setup lang="ts">
import { ref, reactive } from 'vue'
import { useEducation } from '@/composables/useEducation'
import { useAdvertisements } from '@/composables/useAdvertisement'
const {
  getEducationLevels,
  isEducationLevelLoading,
  educationLevels,
  add,
  isEducationLoading,
  isUserEducationLoading
} = useEducation()
const emit = defineEmits('addEducation')

const form = reactive({
  school: '',
  startDate: '',
  endDate: '',
  field: '',
  degree: ''
})
const rules = reactive({
  school: [{ required: true, message: 'Pole jest wymanage', trigger: 'blur' }],
  startDate: [{ required: true, message: 'Pole jest wymanage', trigger: 'blur' }],
  endDate: [{ required: true, message: 'Pole jest wymanage', trigger: 'blur' }]
})
const ruleFormRef = ref()
const addEducation = async () => {
  ruleFormRef.value.validate(async (valid) => {
    if (!valid) return
    emit('addEducation', form)
  })
}
</script>

<style scoped>
.EducationComponent {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.EducationComponent__dates {
  display: flex;
  gap: 1rem;
}
</style>
