<template>
  <el-form class="LanguageComponent" ref="ruleFormRef" :model="form" :rules="rules">
    <el-form-item prop="name">
      <el-input style="width: 15rem" type="text" v-model="form.name" placeholder="Język"
    /></el-form-item>

    <el-form-item prop="level">
      <el-select v-model="form.level" placeholder="Poziom" style="width: 240px">
        <el-option v-for="(level, index) in levels" :key="index" :label="level" :value="level" />
      </el-select>
    </el-form-item>
    <el-button @click="addUserLanguage">Zatwierdź</el-button>
  </el-form>
</template>

<script setup lang="ts">
import { ref, reactive } from 'vue'
import { usePortfolio } from '@/composables/usePortfolio'
import { useAdvertisements } from '@/composables/useAdvertisement'
const { getCities, isCitiesLoading, cities } = useAdvertisements()
const { userExperiences } = usePortfolio()

const emit = defineEmits('addUserLanguage')
const levels = ref(['A1', 'A2', 'B1', 'B2', 'C1', 'C2'])
const form = reactive({
  name: '',
  level: ''
})
const rules = reactive({
  name: [{ required: true, message: 'Pole jest wymanage', trigger: 'blur' }],
  level: [{ required: true, message: 'Pole jest wymanage', trigger: 'blur' }]
})
const ruleFormRef = ref()
const addUserLanguage = async () => {
  ruleFormRef.value.validate(async (valid) => {
    if (!valid) return
    emit('addUserLanguage', form)
  })
}
</script>

<style scoped>
.LanguageComponent {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.LanguageComponent__dates {
  display: flex;
  gap: 1rem;
}
</style>
