<template>
  <el-form class="PositionComponent" ref="ruleFormRef" :model="form" :rules="rules">
    <el-form-item prop="name">
      <el-input style="width: 15rem" type="text" v-model="form.name" placeholder="Nazwa stanowiska"
    /></el-form-item>
    <div class="PositionComponent__dates">
      <el-form-item prop="startDate">
        <el-date-picker
          v-model="form.startDate"
          type="month"
          placeholder="Data rozpoczęcia"
          :clearable="false"
          format="YYYY/MM/DD"
        ></el-date-picker
      ></el-form-item>
      <el-form-item prop="endDate">
        <el-date-picker
          v-model="form.endDate"
          type="month"
          placeholder="Data zakończenia"
          :clearable="false"
          format="YYYY/MM/DD"
        ></el-date-picker
      ></el-form-item>
    </div>

    <el-form-item prop="company">
      <el-input style="width: 15rem" type="text" v-model="form.company" placeholder="Firma"
    /></el-form-item>
    <el-form-item prop="location">
      <el-select
        v-model="form.location"
        filterable
        remote
        reserve-keyword
        placeholder="Lokalizacja"
        :remote-method="getCities"
        :loading="isCitiesLoading"
        style="width: 240px"
      >
        <el-option v-for="city in cities" :key="city.id" :label="city.city" :value="city.id" />
      </el-select>
    </el-form-item>
    <el-button @click="addPosition">Zatwierdź</el-button>
  </el-form>
</template>

<script setup lang="ts">
import { ref, reactive } from 'vue'
import { usePortfolio } from '@/composables/usePortfolio'
import { useAdvertisements } from '@/composables/useAdvertisement'
const { getCities, isCitiesLoading, cities } = useAdvertisements()
const { userExperiences } = usePortfolio()

const emit = defineEmits('addPosition')

const form = reactive({
  name: '',
  startDate: '',
  endDate: '',
  company: '',
  location: ''
})
const rules = reactive({
  name: [{ required: true, message: 'Pole jest wymanage', trigger: 'blur' }],
  startDate: [{ required: true, message: 'Pole jest wymanage', trigger: 'blur' }],
  endDate: [{ required: true, message: 'Pole jest wymanage', trigger: 'blur' }],
  company: [{ required: true, message: 'Pole jest wymanage', trigger: 'blur' }]
})
const ruleFormRef = ref()
const addPosition = async () => {
  ruleFormRef.value.validate(async (valid) => {
    if (!valid) return
    emit('addPosition', form)
  })
}
</script>

<style scoped>
.PositionComponent {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.PositionComponent__dates {
  display: flex;
  gap: 1rem;
}
</style>
