<script setup lang="ts">

</script>

<template>
  <div class="about">
    <h1>This is an about page</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus vulputate dictum. In vitae pretium est. Sed egestas dolor vel sapien feugiat hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut purus cursus, dapibus nunc id, lobortis turpis. Maecenas ligula augue, ultricies in mollis id, rhoncus eget mauris. Sed eu egestas risus. Suspendisse potenti.

Nullam sed pellentesque massa, eu faucibus eros. Sed eleifend interdum molestie. Nullam blandit tellus eu pulvinar tincidunt. Phasellus ex libero, aliquet ut pharetra a, ornare viverra arcu. Suspendisse libero nisi, semper ut odio vitae, porta aliquam metus. Pellentesque orci dolor, tempus nec nisl et, ultricies auctor mauris. Donec id vulputate est. Nullam leo mi, eleifend vel auctor at, eleifend a felis. Pellentesque purus magna, bibendum id pharetra vitae, elementum in urna. Nunc faucibus arcu eget posuere dignissim. </p>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  } 
}
</style>
