<script setup lang="ts">
import { onBeforeMount, ref } from 'vue';
import { useRouter } from "vue-router";
import { useAdvertisements } from '@/composables/useAdvertisement';

const router = useRouter();
const routeParams: Object = router.currentRoute.value.params;

const { getDetails } = useAdvertisements();

const advertisement = ref({});
const isPhoneNumberVisible = ref('');

onBeforeMount(async () => {
  await getDetails(routeParams.advertisement).then(details => {
    advertisement.value = details;
    console.log(advertisement.value);
  });
});

</script>

<template>
  <div class="AdvertisementView">
    <div class="row">
      <el-button @click="router.go(-1)">Wróć</el-button>
      <el-breadcrumb style="margin-left: 1rem" separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">Ogłoszenia</el-breadcrumb-item>
        <el-breadcrumb-item>{{ advertisement.type }}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="AdvertisementView__container" v-if="advertisement.users">
      <el-card style="width: 60%; margin: 0 5px; height: fit-content;" body-class="image-card">
        <img src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png"
          style="width: 100%" />
        <h2 class="AdvertisementView__label">Opis:</h2>
        <p>{{ advertisement.description }}</p>
      </el-card>
      <div class="AdvertisementView__container--right">
        <el-card style="margin: 0 5px; height:fit-content;">
          <template #header>
            <h2 class="AdvertisementView__label">Stanowisko:</h2>
            <p>{{ advertisement.profession }}</p>
          </template>
          <span class="AdvertisementView__label">Cena:</span>
          <p>{{ advertisement.salary }}</p>
          <div class="AdvertisementView__container--buttons">
            <el-button class="AdvertisementView__button" type="primary">Wyślij wiadomość</el-button>
            <el-button class="AdvertisementView__button" @click="isPhoneNumberVisible = true">{{ !isPhoneNumberVisible ?
          'Zadzwoń'
          : '' }}
        <a v-if="isPhoneNumberVisible" href="tel:+48662123123">662123123</a>  
        </el-button>
          </div>
        </el-card>
        <el-card style="margin: 20px 5px 0 5px; height:fit-content;">
          <template #header><span class="AdvertisementView__label">Przedsiębiorca</span>
          </template>
          <div class="AdvertisementView__user-avatar-container">
            <el-avatar class="AdvertisementView__user-avatar" :size="50"
              src="https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png" />
            <span>{{ advertisement.users.name }}</span>
            <p style="color: #6E6E6E; margin-top: 1rem;">Na BuildHub od <span style="font-weight: 600">{{
          advertisement.users.created_at.substring(0, 10) }}</span></p>
          </div>
          <div v-if="advertisement.users.rating">
            <span class="AdvertisementView__label">Ocena:</span>
            <p>{{ advertisement.users.rating }}</p>
          </div>
          <div class="AdvertisementView__container">
            <el-button class="AdvertisementView__button">Więcej od tego ogłoszeniodawcy</el-button>
          </div>
        </el-card>
        <el-card style="margin: 20px 5px 0 5px; height:fit-content;">
          <template #header><span class="AdvertisementView__label">Lokalizacja</span>
          </template>
          <span>{{ advertisement.city }}</span>
        </el-card>
        <el-card style="margin: 20px 5px 0 5px; height:fit-content;">
          <template #header><span class="AdvertisementView__label">Dane kontaktowe</span>
          </template>
          <div class="column">
            <div>
              <span class="AdvertisementView__label">Imię:</span> <span>{{ advertisement.users.name }}</span>
            </div>
            <div>
              <span class="AdvertisementView__label">Nazwisko:</span> <span>{{ advertisement.users.surname }}</span>
            </div>
            <div>
              <span class="AdvertisementView__label">Email:</span> <span>{{ advertisement.users.email }}</span>
            </div>
          </div>
        </el-card>
      </div>
    </div>
    <el-skeleton v-else animated>
      <template #template>
        <div style="display:flex;">
          <el-skeleton-item variant="image" style="width: 60vw; height: 40vh;" />
          <div style="width: 20vw; padding: 0 1rem;">
            <div class="column" style="
              margin-bottom: 4rem
            ">
              <el-skeleton-item variant="text" style="margin-bottom: 5px;" />
              <el-skeleton-item variant="text" style="margin-bottom: 5px;" />
              <el-skeleton-item variant="text" style="margin-bottom: 5px;" />
              <el-skeleton-item variant="text" style="margin-bottom: 5px;" />
              <el-skeleton-item variant="text" style="margin-bottom: 5px;" />
              <div style="display:flex; margin-bottom: 5px;">
                <el-skeleton-item variant="button" style="margin: 0 5px;" />
                <el-skeleton-item variant="button" style="margin: 0 5px;" />
              </div>
              <el-skeleton-item variant="text" style="margin-bottom: 5px;" />
            </div>

            <div class="column">
              <el-skeleton-item variant="text" style="margin-bottom: 5px;" />
              <el-skeleton-item variant="text" style="margin-bottom: 5px;" />
              <el-skeleton-item variant="text" style="margin-bottom: 5px;" />
              <el-skeleton-item variant="text" style="margin-bottom: 5px;" />
              <el-skeleton-item variant="text" style="margin-bottom: 5px;" />
              <el-skeleton-item variant="button" style="margin-bottom: 5px;" />
              <el-skeleton-item variant="text" style="margin-bottom: 5px;" />
              <el-skeleton-item variant="text" style="margin-bottom: 5px;" />
            </div>
          </div>

        </div>
      </template>
    </el-skeleton>
  </div>
</template>

<style>
.AdvertisementView {
  padding: 5rem 15rem;
}

.AdvertisementView__container {
  display: flex;
  justify-content: center
}

.AdvertisementView__label {
  font-weight: 600;
}

.AdvertisementView__container {
  margin-top: 2rem;
}

.AdvertisementView__container--right {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.AdvertisementView__container--buttons {
  margin-top: 2rem
}

.AdvertisementView__button {
  width: 100%;
  margin: 5px !important;
}

.AdvertisementView__user-avatar-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.AdvertisementView__user-avatar {
  margin-right: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
</style>
