<script setup lang="ts">
import AddAdvertisement from '@/components/advertisements/AddAdvertisement.vue';
import AdvertisementsList from '@/components/advertisements/AdvertisementsList.vue';
import { ref } from 'vue';
import { useAuthentication } from '@/composables/useAuthentication';

const { isAuthenticated } = useAuthentication();
const activeTab = ref('list')
</script>

<template>
  <div class="AdvertisementsView">
    <el-tabs v-model="activeTab" class="demo-tabs">
      <el-tab-pane v-if="isAuthenticated" label="Dodaj ogłoszenie" name="add">
        <AddAdvertisement />
      </el-tab-pane>
      <el-tab-pane label="Lista ogłoszeń" name="list">
        <AdvertisementsList />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<style></style>
