<script setup lang="ts">
import { useSteps } from '../composables/useSteps'
import ConfigurationStepZero from '../components/steps/ConfigurationStepZero.vue'
import ConfigurationStepOne from '../components/steps/ConfigurationStepOne.vue'
import ConfigurationStepTwo from '../components/steps/ConfigurationStepTwo.vue'
import ConfigurationStepThree from '../components/steps/ConfigurationStepThree.vue'
import ConfigurationStepFour from '../components/steps/ConfigurationStepFour.vue'
import ConfigurationStepFive from '../components/steps/ConfigurationStepFive.vue'
import ConfigurationStepSix from '../components/steps/ConfigurationStepSix.vue'
import ConfigurationStepSeven from '../components/steps/ConfigurationStepSeven.vue'
import { onMounted } from 'vue'
const { currentStep, handleStepChange } = useSteps()
const tabs = {
  0: ConfigurationStepZero,
  1: ConfigurationStepOne,
  2: ConfigurationStepTwo,
  3: ConfigurationStepThree,
  4: ConfigurationStepFour,
  5: ConfigurationStepFive,
  6: ConfigurationStepSix,
  7: ConfigurationStepSeven
}
onMounted(() => handleStepChange(0))
</script>
<template>
  <div class="ConfigureStepsView">
    <p v-if="currentStep !== 0">Krok {{ currentStep }}</p>
    <component :is="tabs[currentStep]" />
  </div>
</template>
<style scoped>
.ConfigureStepsView {
  padding: 4rem;
}
</style>
