<script setup lang="ts">
import { reactive, ref } from 'vue';
import { useAuthentication } from '../composables/useAuthentication';
import { useRouter } from "vue-router";

const router = useRouter();
const { login } = useAuthentication();

const form = reactive({
  email: '',
  password: '',
});
const rules = reactive({
  email: [
    { required: true, message: 'Pole jest wymagane', trigger: 'blur' },
    {
      type: 'email',
      message: 'Adres e-mail musi być prawdziwy.',
      trigger: ['blur', 'change']
    }
  ],
  password: [
    { required: true, message: 'Pole jest wymagane', trigger: 'blur' },
  ],
})
const ruleFormRef = ref();

const submitForm = async () => {
  ruleFormRef.value.validate(async (valid) => {
    if (valid) {
      try {
        await login(form);
        router.push({ name: "configure" });
      } catch (error) {
        console.log(error);
      }
    }
  })
}
</script>

<template>
  <div class="LoginView">
    <div class="LoginView__form-container">
      <el-form ref="ruleFormRef" :model="form" :rules="rules" class="demo-form-inline">
        <el-form-item prop="email">
          <label>Email</label>
          <el-input v-model="form.email" placeholder="Wprowadź login użytkownika" clearable />
        </el-form-item>
        <el-form-item prop="password">
          <label>Hasło</label>
          <el-input type="password" v-model="form.password" placeholder="Wprowadź hasło" clearable />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" class="form-button" @click="submitForm">Zaloguj</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<style scoped>
.LoginView {
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.LoginView .LoginView__form-container {
  width: 40vw;
  padding: 0 10rem
}

.LoginView .LoginView__form-container label,
.form-button {
  display: inline-block;
  margin: 0 auto
}
</style>
