<script setup lang="ts">
import { ref } from 'vue';
import AdvertisementsList from '@/components/advertisements/AdvertisementsList.vue'; 
import { useRouter } from "vue-router";

const activeTab = ref('advertisements');
</script>

<template>
  <div class="ProfileView">
    <el-tabs v-model="activeTab" class="ProfileView__navigation">
      <el-tab-pane label="Moje ogłoszenia" name="advertisements">
        <AdvertisementsList :is-specified-user="true" />
      </el-tab-pane>
      <el-tab-pane label="Portfolio" name="portfolio">
        <h1>Portfolio</h1>
      </el-tab-pane>
      <el-tab-pane label="Wykształcenie" name="education">
        <h1>Wykształcenie</h1>
      </el-tab-pane>
      <el-tab-pane label="Doświadczenie" name="experience">
        <h1>Doświadczenie</h1>
      </el-tab-pane>
    </el-tabs>
    <div class="ProfileView__form-container">
    </div>
  </div>
</template>

<style scoped>
.ProfileView {
  /* padding: 3rem; */
  display: flex;
  justify-content: center;
}

.ProfileView .ProfileView__form-container {
  width: 40vw;
  padding: 0 10rem
}

.ProfileView .ProfileView__form-container label,
.form-button {
  display: inline-block;
  margin: 0 auto
}
</style>
