<script setup lang="ts">
import { reactive, ref } from 'vue'
import { useAuthentication } from '../composables/useAuthentication'

const { register } = useAuthentication()

const form = reactive({
  email: '',
  name: '',
  surname: '',
  password: '',
  password_confirmation: ''
})
const rules = reactive({
  email: [
    { required: true, message: 'Pole jest wymagane', trigger: 'blur' },
    {
      type: 'email',
      message: 'Adres e-mail musi być prawdziwy.',
      trigger: ['blur', 'change']
    }
  ],
  name: [{ required: true, message: 'Pole jest wymagane', trigger: 'blur' }],
  surname: [{ required: true, message: 'Pole jest wymagane', trigger: 'blur' }],
  password: [
    { required: true, message: 'Pole jest wymagane', trigger: 'blur' },
    {
      min: 8,
      message: 'Hasło musi mieć co najmniej 8 znaków.',
      trigger: 'blur'
    },
    {
      pattern: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/,
      message:
        'Hasło powinno zawierać przynajmniej jedną małą literę, jedną dużą literę i jedną cyfrę.',
      trigger: 'blur'
    }
  ],
  password_confirmation: [
    { required: true, message: 'Pole jest wymagane', trigger: 'blur' },
    {
      validator: (rule, value, callback) => {
        if (value !== form.password) {
          callback(new Error('Hasła nie są takie same'))
        } else {
          callback()
        }
      },
      trigger: 'blur'
    }
  ]
})
const ruleFormRef = ref()
const submitForm = async () => {
  ruleFormRef.value.validate(async (valid) => {
    if (valid) {
      register(form)
    }
  })
}
</script>

<template>
  <div class="RegistrationView">
    <div class="RegistrationView__form-container">
      <el-form ref="ruleFormRef" :model="form" :rules="rules" class="demo-form-inline">
        <el-form-item prop="email">
          <label>Email</label>
          <el-input v-model="form.email" placeholder="Wprowadź login użytkownika" clearable />
        </el-form-item>
        <el-form-item prop="name">
          <label>imię</label>
          <el-input v-model="form.name" placeholder="Wprowadź imię użytkownika" clearable />
        </el-form-item>
        <el-form-item prop="surname">
          <label>nazwisko</label>
          <el-input v-model="form.surname" placeholder="Wprowadź nazwisko użytkownika" clearable />
        </el-form-item>
        <el-form-item prop="password">
          <label>Hasło</label>
          <el-input
            type="password"
            v-model="form.password"
            placeholder="Wprowadź hasło"
            clearable
          />
        </el-form-item>
        <el-form-item prop="confirm_password">
          <label>Potwierdź hasło</label>
          <el-input
            type="password"
            v-model="form.password_confirmation"
            placeholder="Wprowadź hasło ponownie"
            clearable
          />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" class="form-button" @click="submitForm">Rejestracja</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<style scoped>
.RegistrationView {
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.RegistrationView .RegistrationView__form-container {
  width: 40vw;
  padding: 0 10rem;
}

.RegistrationView .RegistrationView__form-container label,
.form-button {
  display: inline-block;
  margin: 0 auto;
}
</style>
