<script setup lang="ts">
import { useAdvertisements } from '@/composables/useAdvertisement';
import { reactive, ref } from 'vue';

const { add, getCities, isLoading, cities } = useAdvertisements();

const addAdvertisementFormRef = ref();

const advertisement = reactive({
  city: '',
  country: '',
  type: '',
  category: '',
  profession: '',
  description: '',
  salary: '',
  requirements: '',
});

const addAdvertisementAndClearForm = async () => {
  await add(advertisement);
  addAdvertisementFormRef.value.resetFields();
}
</script>

<template>
  <div class="AddAdvertisement">
    <el-form class="AddAdvertisement__form" :model="advertisement" v-loading="isLoading" ref="addAdvertisementFormRef">
      <el-form-item prop="city">
        <label>Miasto</label>
        <el-select v-model="advertisement.city" filterable remote reserve-keyword placeholder="Wprowadź miasto"
          :remote-method="getCities" :loading="isLoading" style="width: 240px">
          <el-option v-for="city in cities" :key="city.id" :label="city.name" :value="city.name" />
        </el-select>
      </el-form-item>
      <el-form-item prop="country">
        <label>Państwo</label>
        <el-input v-model="advertisement.country" placeholder="Wprowadź państwo" clearable />
      </el-form-item>
      <el-form-item prop="type">
        <label>Rodzaj</label>
        <el-input v-model="advertisement.type" placeholder="Wprowadź hasło" clearable />
      </el-form-item>
      <el-form-item prop="category">
        <label>Kategoria</label>
        <el-input v-model="advertisement.category" placeholder="Wprowadź hasło" clearable />
      </el-form-item>
      <el-form-item prop="profession">
        <label>Dziedzina/specjalizacja</label>
        <el-input v-model="advertisement.profession" placeholder="Wprowadź hasło" clearable />
      </el-form-item>
      <el-form-item prop="description">
        <label>Opis</label>
        <el-input v-model="advertisement.description" placeholder="Wprowadź hasło" clearable />
      </el-form-item>
      <el-form-item prop="salary">
        <label>Wyngrodzenie</label>
        <el-input v-model="advertisement.salary" placeholder="Wprowadź hasło" clearable />
      </el-form-item>
      <el-form-item prop="requirements">
        <label>Wymagania</label>
        <el-input v-model="advertisement.requirements" placeholder="Wprowadź hasło" clearable />
      </el-form-item>
      <el-form-item>
        <el-button class="AddAdvertisement__form__button" type="primary" @click="addAdvertisementAndClearForm">Dodaj
          ogloszenie</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<style>
.AddAdvertisement {
  width: 50%;
  margin: auto;
}

.AddAdvertisement__form__button {
  margin: auto;
}
</style>
