<script setup lang="ts">
import { useAdvertisements } from '@/composables/useAdvertisement';
import { ref, reactive, computed, onBeforeMount } from 'vue';
import { useRouter } from "vue-router";

const router = useRouter();

const { advertisements, getList, isLoading, clearList } = useAdvertisements();

onBeforeMount(() => {
  clearList();
});

const props = defineProps({
  isSpecifiedUser: {
    type: Boolean,
    required: false,
    default: () => false,
  }
});

getList(props.isSpecifiedUser);

//below keys must be the same in advertise object, rozwiazaniem jest trzymanie wartosci w bazie
const filters = reactive({
  city: '',
  profession: '',
});
const filtersRef = ref();

const filteredAdvertisements = computed(() => {
  let advertisementsList = advertisements.value;

  advertisementsList = advertisementsList.filter(advertisement => {
    for (const [key, value] of Object.entries(filters)) {
      if (value) {
        return advertisement[key].toLowerCase() === value
      }
    }
    return true;
  })
  return advertisementsList;
})

const resetForm = (ref) => {
  if (!ref) return
  ref.resetFields()
}
const show = (advertisement: String) => {
  router.push({ path: `preview/${advertisement}` });
}

const edit = (advertisement: String) => {
  router.push({ path: `edit/${advertisement}` });
}

const filterList = () => {
  console.log(filters);
}
</script>

<template>
  <div class="AdvertisementsList">
    <div class="AdvertisementsListFilters">
      <el-form :model="filters" label-width="120px" class="AdvertisementsListFilters__form" ref="filtersRef">
        <el-col :span="8">
          <el-form-item label="Lokalizacja" prop="city">
            <el-select v-model="filters.city" filterable placeholder="Wybierz lokalizację">
              <el-option label="Warszawa" value="warszawa" />
              <el-option label="Wrocław" value="wroclaw" />
              <el-option label="Gdańsk" value="gdansk" />
              <el-option label="Łódź" value="lodz" />
              <el-option label="Gdynia" value="gdynia" />
              <el-option label="Białystok" value="bialystok" />
              <el-option label="Płońsk" value="plonsk" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="Specjalizacja" prop="profession">
            <el-select v-model="filters.profession" placeholder="Wybierz specjalizację">
              <el-option label="Spawacz" value="spawacz" />
              <el-option label="Tynkarz" value="tynkarz" />
              <el-option label="Alpinista" value="architekt" />
              <el-option label="Murarz" value="alpinista" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-form-item>
          <el-button type="primary" @click="filterList">Filtruj</el-button>
          <el-button @click="resetForm(filtersRef)">Wyczyść</el-button>
        </el-form-item>
      </el-form>
    </div>
    <el-table v-loading="isLoading" :data="filteredAdvertisements" stripe style="width: 100%">
      <el-table-column prop="city" label="Lokalizacja" />
      <el-table-column prop="profession" label="Specjalizacja" />
      <el-table-column prop="salary" label="Wynagrodzenie" />
      <el-table-column prop="users.name" label="Autor" />
      <el-table-column #default="scope" width="300">
        <div class="row">
          <el-button class="AdvertisementsList__button" type="primary" @click="show(scope.row.uuid)">Podgląd</el-button>
          <el-button class="AdvertisementsList__button" v-if="props.isSpecifiedUser"
            @click="edit(scope.row.uuid)">Edytuj</el-button>
        </div>
      </el-table-column>
    </el-table>
  </div>
</template>

<style>
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.AdvertisementsList__button {
  margin: 0 1rem !important;
}

.AdvertisementsListFilters__form {
  display: flex;
}
</style>
