<script setup lang="ts">
import { ref } from 'vue'
import { hConvertImageToBase64 } from '../../utils/helpers'

const props = defineProps({
  modelValue: {
    type: String
  }
})
const emits = defineEmits(['update:modelValue'])

const allowedFormats = ['png', 'jpg', 'jpeg', 'bmp', 'gif']
const maxFileSize = 200_000

const upload = ref()

const error = ref('')

const _validateFileExtension = (file) => {
  const extension = file.type.replace(/(.*)\//g, '')
  return allowedFormats.includes(extension)
}

const _validateFileSize = (file) => file.size < maxFileSize

const handleUpload = ($event) => {
  error.value = ''
  if (!$event?.target?.files) return
  const [file] = $event.target.files

  if (!_validateFileExtension(file)) {
    error.value = `Nieprawidłowy format pliku (dopuszczalny format: ${allowedFormats.join(', ')}).`
    return
  }
  if (!_validateFileSize(file)) {
    error.value = `Nieprawidłowy rozmiar pliku (dopuszczalny rozmiar: <=200kB)`
    return
  }

  hConvertImageToBase64(file, (result) => {
    emits('update:modelValue', result)
  })
}
</script>
<template>
  <div class="ImageUpload">
    <div @click="$emit('update:modelValue', '')" class="ImageUpload__preview" v-if="modelValue">
      <p>x</p>
      <img class="ImageUpload__preview__image" :src="modelValue" />
    </div>
    <div class="ImageUpload__error">
      {{ error }}
    </div>
    <el-button @click="upload.click()">Dodaj zdjęcie</el-button>
    <input
      ref="upload"
      class="ImageUpload__input"
      type="file"
      accept="image/*"
      @change="handleUpload"
    />
  </div>
</template>
