<script setup lang="ts">
import { useSteps } from '../../composables/useSteps'
const { handleStepChange } = useSteps()

const props = defineProps({
  step: {
    type: Number,
    default: 0
  }, 
  direction: {
    type: String,
    default: "next"
  }
}
)
const handleButton = () => {
  handleStepChange(props.direction === "next" ? props.step+1 : props.step-1)
}
</script>

<template>
  <div class="StepButton">
    <el-button @click="handleButton">{{props.direction === "next" ? 'Przejdź dalej' : 'Cofnij'}}</el-button>
  </div>
</template>

<style scoped>

</style>
