<script setup>
import { ref, watch } from 'vue'
const emits = defineEmits(['closeModal', 'save'])
const props = defineProps({
  isDialogVisible: {
    type: Boolean,
    default: false,
    required: true
  },
  width: {
    type: String,
    default: '38rem',
    required: false
  },
  maxWidth: {
    type: String,
    required: false,
    default: 'initial'
  },
  title: {
    type: String,
    default: '',
    required: false
  },
  description: {
    type: String,
    default: '',
    required: false
  },
  cancelButtonText: {
    type: String,
    default: '',
    required: false
  },
  saveButtonText: {
    type: String,
    default: '',
    required: false
  }
})

const isDialogShown = ref(false)

watch(
  () => props.isDialogVisible,
  (newValue) => {
    isDialogShown.value = newValue
  },
  { immediate: true }
)
</script>
<template>
  <Transition>
    <div v-if="isDialogShown" class="TheModal">
      <div class="TheModal__container" :style="`width: ${width}; max-width: ${maxWidth}`">
        <div class="TheModal__header-container">
          <div class="TheModal__header-title">{{ title }}</div>
          <div class="TheModal__button" style="cursor: pointer" @click="$emit('closeModal')">X</div>
        </div>
        <span>{{ description }}</span>
        <div class="TheModal__content">
          <slot />
        </div>
      </div>
    </div>
  </Transition>
</template>
<style>
.TheModal {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 2001;
}
.TheModal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(5, 29, 92, 0.35);
  padding: 1rem;
}
.TheModal__header {
  padding: 1rem 1.5rem;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  align-items: center;
  color: #000;
}
.TheModal__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>



